<script src="js/usefulJs/sidebar.js"></script>
<script src="js/usefulJs/hamburger-menu.js"></script>

<script src="https://rawgit.com/GMaxera/angularjs-slider/master/dist/rzslider.js"></script>


<!-- Sidebar content -->
<div class="sidebar-block" id="tabContent">
    <div id="filters">
        <div class="card">
            <div class="list-group list-group-flush">
                <form name="filterForm" ng-submit="submitFilters();">
                    <!--<div class="list-group-item">-->
                        <!--<a class="filter-toggle text-yellow" data-toggle="collapse"-->
                           <!--data-target="#obTimeFilters" aria-expanded="false">Max Price-->
                        <!--</a>-->
                        <!--<div class="collapse in" id="obTimeFilters" aria-expanded="true">-->
                            <!--<div class="filter-content">-->
                                <!--<div>-->
                                    <!--<div class="slidecontainer">-->
                                        <!--<input type="range" min="1" value="{{filter.maxPrice}}" max="2000"-->
                                               <!--class="slider" id="priceRange" ng-model="filter.maxPrice">-->
                                    <!--</div>-->
                                    <!--<div class="indicators">-->
                                        <!--<p><span id="maxPrice"></span> €</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="list-group-item">
                        <a class="filter-toggle text-yellow" data-toggle="collapse"
                           data-target="#maxPriceCollapse" aria-expanded="false">Max price
                        </a>
                        <div class="collapse in" id="maxPriceCollapse" aria-expanded="true">
                            <div class="filter-content">
                                <div>
                                    <div class="slidecontainer">
                                        <rzslider rz-slider-model="filter.maxPriceSlider.value"
                                                  rz-slider-options="filter.maxPriceSlider.options"></rzslider>
                                    </div>
                                    <div class="indicators">
                                        <p> 0-</p>
                                        <p> {{filter.maxPriceSlider.value}} € </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Stops -->
                    <div class="list-group-item">
                        <a class="filter-toggle text-yellow" data-toggle="collapse"
                           data-target="#stops" aria-expanded="false">Stops
                        </a>
                        <div class="collapse in" id="stops">
                            <div class="filter-content">
                                <div id="stopsColumn">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="0" ng-model="filter.stops">Direct
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="1" ng-model="filter.stops">Up to 1 stop
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="2" ng-model="filter.stops">Up to 2 stops
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--&lt;!&ndash;Flight Duration&ndash;&gt;-->
                    <!--<div class="list-group-item">-->
                        <!--<a class="filter-toggle text-yellow" data-toggle="collapse"-->
                           <!--data-target="#price" aria-expanded="false">Flight Duration-->
                        <!--</a>-->
                        <!--<div class="collapse sliderControler in" id="price">-->
                            <!--<div class="filter-content">-->
                                <!--<div>-->
                                    <!--<div class="slidecontainer">-->
                                        <!--<input type="range" min="0" value="{{filter.flightDuration}}" max="30"-->
                                               <!--class="slider" id="hourRange" ng-model="filter.flightDuration">-->
                                    <!--</div>-->
                                    <!--<div class="indicators">-->
                                        <!--<p>0h - <span id="maxHours"></span>h</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Connecting time&ndash;&gt;-->
                    <!--<div class="list-group-item">-->
                        <!--<a class="filter-toggle text-yellow" data-toggle="collapse"-->
                           <!--data-target="#connectingHoursCollapse" aria-expanded="false">Connecting time-->
                        <!--</a>-->
                        <!--<div class="collapse in" id="connectingHoursCollapse" aria-expanded="true">-->
                            <!--<div class="filter-content">-->
                                <!--<div>-->
                                    <!--<div class="slidecontainer">-->
                                        <!--<input type="range" min="1" value="{{filter.connectingTime}}" max="24"-->
                                               <!--class="slider" id="connectingHoursRange"-->
                                               <!--ng-model="filter.connectingTime">-->
                                    <!--</div>-->
                                    <!--<div class="indicators">-->
                                        <!--<p>1h - <span id="connectingHours"></span>h</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="list-group-item">
                        <a class="filter-toggle text-yellow" data-toggle="collapse"
                           data-target="#flightDurationCollapse" aria-expanded="false">Flight duration
                        </a>
                        <div class="collapse in" id="flightDurationCollapse" aria-expanded="true">
                            <div class="filter-content">
                                <div>
                                    <div class="slidecontainer">
                                        <rzslider rz-slider-model="filter.flightDurationSlider.value"
                                                  rz-slider-options="filter.flightDurationSlider.options"></rzslider>
                                    </div>
                                    <div class="indicators">
                                        <p> 1-</p>
                                        <p> {{filter.flightDurationSlider.value}} h </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <a class="filter-toggle text-yellow" data-toggle="collapse"
                           data-target="#connectingTimeCollapse" aria-expanded="false">Connecting time
                        </a>
                        <div class="collapse in" id="connectingTimeCollapse" aria-expanded="true">
                            <div class="filter-content">
                                <div>
                                    <div class="slidecontainer">
                                        <rzslider rz-slider-model="filter.connectingTimeSlider.minValue"
                                                  rz-slider-high="filter.connectingTimeSlider.maxValue"
                                                  rz-slider-options="filter.connectingTimeSlider.options"></rzslider>
                                    </div>
                                    <div class="indicators">
                                        <p> {{filter.connectingTimeSlider.minValue}}- </p>
                                        <p> {{filter.connectingTimeSlider.maxValue}} h </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Departure time-->
                    <div class="list-group-item">
                        <a class="filter-toggle text-yellow" data-toggle="collapse"
                           data-target="#departureTimeCollapse1" aria-expanded="false">Departure time
                        </a>
                        <div class="collapse in" id="departureTimeCollapse1" aria-expanded="true">
                            <div class="filter-content">
                                <div>
                                    <div class="slidecontainer">
                                        <rzslider rz-slider-model="filter.departureTimeSlider.minValue"
                                                  rz-slider-high="filter.departureTimeSlider.maxValue"
                                                  rz-slider-options="filter.departureTimeSlider.options"></rzslider>
                                    </div>
                                    <div class="indicators">
                                        <p> {{filter.departureTimeSlider.minValue}}:00-</p>
                                        <p> {{filter.departureTimeSlider.maxValue}}:00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Arrival time-->
                    <div class="list-group-item">
                        <a class="filter-toggle text-yellow" data-toggle="collapse"
                           data-target="#arrivalTimeCollapse1" aria-expanded="false">Arrival time
                        </a>
                        <div class="collapse in" id="arrivalTimeCollapse1" aria-expanded="true">
                            <div class="filter-content">
                                <div>
                                    <div class="slidecontainer">
                                        <rzslider rz-slider-model="filter.arrivalTimeSlider.minValue"
                                                  rz-slider-high="filter.arrivalTimeSlider.maxValue"
                                                  rz-slider-options="filter.arrivalTimeSlider.options"></rzslider>
                                    </div>
                                    <div class="indicators">
                                        <p> {{filter.arrivalTimeSlider.minValue}}:00-</p>
                                        <p> {{filter.arrivalTimeSlider.maxValue}}:00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--&lt;!&ndash;Airlines&ndash;&gt;-->
                    <!--<div class="list-group-item">-->
                        <!--<a class="filter-toggle text-yellow" data-toggle="collapse"-->
                           <!--data-target="#airlines" aria-expanded="false">Airlines-->
                        <!--</a>-->
                        <!--<div class="collapse in" id="airlines">-->
                            <!--<div class="filter-content">-->
                                <!--<div id="airlinesColumn">-->
                                    <!--<div class="checkbox">-->
                                        <!--<label for="reset-filter-airline">-->
                                            <!--<input type="checkbox" id="reset-filter-airline"-->
                                                   <!--value="AllAirlines" checked="checked">All Airlines</label>-->
                                    <!--</div>-->
                                    <!--<div class="checkbox">-->
                                        <!--<label class="d-block text-truncate" for="airline-A3">-->
                                            <!--<input type="checkbox" name="airline-filter" value="A3" id="airline-A3">Aegean-->
                                            <!--Airlines-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <!--<div class="checkbox">-->
                                        <!--<label class="d-block text-truncate" for="airline-LH">-->
                                            <!--<input type="checkbox" name="airline-filter" value="LH" id="airline-LH">Lufthansa-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <!--<div class="checkbox">-->
                                        <!--<label class="d-block text-truncate" for="airline-OA">-->
                                            <!--<input type="checkbox" name="airline-filter" value="OA" id="airline-OA">Olympic-->
                                            <!--Air-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <!--<div class="checkbox">-->
                                        <!--<label class="d-block text-truncate" for="airline-FR">-->
                                            <!--<input type="checkbox" name="airline-filter" value="FR" id="airline-FR">Ryanair-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <!--<div class="checkbox">-->
                                        <!--<label class="d-block text-truncate" for="airline-LX">-->
                                            <!--<input type="checkbox" name="airline-filter" value="LX" id="airline-LX">Swiss-->
                                            <!--International Airlines-->
                                        <!--</label>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="searchFilters list-group-item border-bottom-0">
                        <button id="reset-filters" type="submit" value="submit"
                                class="btn-search text-truncate">
                            Search results
                        </button>
                    </div>
                </form>
            </div>
            <div class="text-center hidden-sm hidden-xs pt-xl">
                <div id="filters-ad"></div>
            </div>
        </div>
    </div>
</div>
