<div class="wrapper-mobile-nav">
    <div class="header-topbar">
        <div class="topbar-search search-mobile">
            <form class="search-form">
                <div class="input-icon">
                    <i class="btn-search fa fa-search"></i>
                    <input type="text" placeholder="Search here..." class="form-control">
                </div>
            </form>
        </div>
    </div>
    <div class="header-main">
        <div class="menu-mobile">
            <ul class="nav-links nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="main-menu">
                        <span class="text">Home</span>
                    </a>
                    <span class="icons-dropdown">
                                <i class="fa fa-angle-down"></i>
                            </span>
                    <ul class="dropdown-menu dropdown-menu-1">
                        <li>
                            <a href="" class="link-page">Homepage</a>
                        </li>
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="main-menu">
                        <span class="text">about</span>
                    </a>
                </li>


                <li class="dropdown">
                    <a href="" class="main-menu">
                        <span class="text">blog</span>
                    </a>
                    <span class="icons-dropdown">
                                <i class="fa fa-angle-down"></i>
                            </span>
                    <ul class="dropdown-menu dropdown-menu-1">
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="main-menu">
                        <span class="text">page</span>
                    </a>
                    <span class="icons-dropdown">
                                <i class="fa fa-angle-down"></i>
                            </span>
                    <ul class="dropdown-menu dropdown-menu-1">
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                        <li>
                            <a href="" class="link-page">Infos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="main-menu">
                        <span class="text">contact</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>