<footer>
    <div class="bg-blue-gradient">
        <div class="footer-main bg-transparent padding-top padding-bottom">
            <div class="container">
                <div class="footer-main-wrapper">
                    <a href="" class="logo-footer logo-black">
                        <img src="" alt="" class="img-responsive">
                    </a>
                    <div class="row">
                        <div class="col-2">
                            <div class="col-md-3 col-xs-5">
                                <div class="contact-us-widget widget">
                                    <div class="title-widget">contact us</div>
                                    <div class="content-widget">
                                        <div class="info-list">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <i class="icons fa fa-map-marker"></i>
                                                    <a href="" class="link">Papaflessa 42 Galatsi,
                                                        Athens</a>
                                                </li>
                                                <li>
                                                    <i class="icons fa fa-phone"></i>
                                                    <a href="" class="link">2102345621</a>
                                                </li>
                                                <li>
                                                    <i class="icons fa fa-envelope-o"></i>
                                                    <a href=""
                                                       class="link">zoukas1sb4ck@hotmail.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-email">
                                            <p class="text">Sign up for our mailing list to get
                                                latest updates and offers.</p>
                                            <form action="">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Email address"
                                                           class="form-control form-email-widget">
                                                    <span class="input-group-btn">
                                                                    <button type="submit" class="btn-email">✔</button>
                                                                </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-3">
                                <div class="booking-widget widget text-center">
                                    <div class="title-widget">book now</div>
                                    <div class="content-widget">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="" class="link">Flights</a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <div class="explore-widget widget">
                                    <div class="title-widget">Top destinations</div>
                                    <div class="content-widget">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="" class="link">Athens</a>
                                            </li>
                                            <li>
                                                <a href="" class="link">Chania City</a>
                                            </li>
                                            <li>
                                                <a href="" class="link">Thessalonikh</a>
                                            </li>
                                            <li>
                                                <a href="" class="link">Paris City</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hyperlink bg-transparent">
            <div class="container">

                <div class="social-footer">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <a href="" class="link facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" class="link twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" class="link google">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="name-company">© Designed by Konstantinos Zoukas.</div>
            </div>
        </div>
    </div>
</footer>