<header>
    <div class="bg-white header-02">

        <div class="header-main">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="hamburger-menu">
                        <div class="hamburger-menu-wrapper">
                            <div class="icons"></div>
                        </div>
                    </div>
                    <div class="navbar-header">
                        <div class="logo">
                            <a href="index.html" class="header-logo logo-black">
                                <img src="./images/logo-black-color-1.png" alt=""/>
                            </a>
                        </div>
                    </div>
                    <nav class="navigation">
                        <ul class="nav-links nav navbar-nav">
                            <li class="dropdown ">
                                <a href="javascript:void(0)" class="main-menu">
                                    <span class="text">Home</span>
                                    <span class="icons-dropdown">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li>
                                        <a href="" class="link-page">Infos</a>
                                    </li>
                                    <li>
                                        <a href="" class="link-page">Infos</a>
                                    </li>
                                    <li>
                                        <a href="" class="link-page">Infos</a>
                                    </li>
                                    <li>
                                        <a href="" class="link-page">Infos</a>
                                    </li>
                                    <li>
                                        <a href="" class="link-page">Infos</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="" class="main-menu">
                                    <span class="text">about</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">
                                    <span class="text">Infos</span>
                                    <span class="icons-dropdown">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li>
                                        <a href="" class="link-page">info</a>
                                    </li>
                                    <li>
                                        <a href="" class="link-page">info</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">
                                    <span class="text">Policy</span>
                                    <span class="icons-dropdown">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li>
                                        <a href="" class="link-page">info</a>
                                    </li>
                                    <li>
                                        <a href="" class="link-page">info2</a>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="" class="main-menu">
                                    <span class="text">contact</span>
                                </a>
                            </li>
                            <li class="button-search">
                                <p class="main-menu">
                                    <i class="fa fa-search"></i>
                                </p>
                            </li>
                        </ul>
                        <div class="nav-search hide">
                            <form>
                                <input type="text" placeholder="Search" class="searchbox"/>
                                <button type="submit" class="searchbutton fa fa-search"></button>
                            </form>
                        </div>
                    </nav>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</header>