<script src="js/usefulJs/hamburger-menu.js"></script>

<header>
    <div class="bg-transparent header-01">
        <div class="header-main">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="hamburger-menu">
                        <div class="hamburger-menu-wrapper">
                            <div style="
                                   border: 1px solid #999;
                                   border-radius: 3px;
                                   background-color: #ffdd00;
                                   height:30px;
                                   width:40px;
                                   cursor:pointer; " type="button">
                                    <i class="fas fa-filter"></i>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-header">
                        <div class="logo">
                            <div  class="header-logo logo-black">
                                <a ng-href="{{node_redirect}}">
                                    <img src="./images/logo-black-color-1.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</header>