
<div class="offset-top-60">
    <!--<div class="range range-xs-justify text-left">-->

    <!--<div class="cell-sm-4 cell-xl-3 ">-->
    <!--<span class="small">Sort by</span>-->
    <!--&lt;!&ndash;Select 2&ndash;&gt;-->
    <!--<div class="offset-top-4">-->
    <!--<select data-placeholder="Select an option" data-minimum-results-for-search="Infinity"-->
    <!--data-constraints="@Required" class="form-control select-filter">-->
    <!--<option>Price: low to high</option>-->
    <!--<option value="2">Item 1-1</option>-->
    <!--<option value="3">Item 1-2</option>-->
    <!--<option value="4">Item 1-2</option>-->
    <!--<option value="5">Item 2-1</option>-->
    <!--<option value="6">Item 2-2</option>-->
    <!--<option value="7">Item 2-3</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="cell-sm-8 cell-md-6 cell-xl-4">-->

    <!--</div>-->
    <!--</div>-->
    <div class="infos">
        <div class="tab-btn-wrapper active">
            <div class="tab-btn">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 info-bar-places">
                    <i class="flaticon-transport-1"></i>
                    <span>  {{fromTown}} - {{toTown}}</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 info-bar" style="text-align: center">
                    <div ng-if="typeOfFlight=='oneWay'">
                        <div class="glyphicon glyphicon-calendar"></div>
                        <span>{{checkin}}</span>
                    </div>
                    <div ng-if="typeOfFlight=='roundTrip'">
                        <div class="glyphicon glyphicon-calendar"></div>
                        <span>{{checkin}} - </span>
                        <div class="glyphicon glyphicon-calendar" style="margin-left: 3px"></div>
                        <span>{{checkout}}</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 info-bar">
                         <i class="flaticon-people"></i>
                    <span> {{adultNum}} adults, {{childNum}} childs</span>

                </div>

            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: right ">
        <a href="http://localhost:3000" class="btn btn-primary btn-xs btn-no-shadow">New Search</a>
    </div>
</div>