
<div class="offset-top-60">
    <!--<div class="range range-xs-justify text-left">-->

    <!--<div class="cell-sm-4 cell-xl-3 ">-->
    <!--<span class="small">Sort by</span>-->
    <!--&lt;!&ndash;Select 2&ndash;&gt;-->
    <!--<div class="offset-top-4">-->
    <!--<select data-placeholder="Select an option" data-minimum-results-for-search="Infinity"-->
    <!--data-constraints="@Required" class="form-control select-filter">-->
    <!--<option>Price: low to high</option>-->
    <!--<option value="2">Item 1-1</option>-->
    <!--<option value="3">Item 1-2</option>-->
    <!--<option value="4">Item 1-2</option>-->
    <!--<option value="5">Item 2-1</option>-->
    <!--<option value="6">Item 2-2</option>-->
    <!--<option value="7">Item 2-3</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="cell-sm-8 cell-md-6 cell-xl-4">-->

    <!--</div>-->
    <!--</div>-->
    <div class="infos">
        <div class="tab-btn-wrapper active">
            <div class="tab-btn">
                <div class="col-sm-4" style="margin-left: 10px; font-size: 16px; font-weight: 800;">
                    <i class="flaticon-transport-1"></i>
                    <span>  {{fromTown}} - {{toTown}}</span>
                </div>
                <div class="col-sm-4" style="font-size: 16px;  font-weight: 400;">
                    <div class="glyphicon glyphicon-calendar"></div>
                    <span>  {{checkIn}}</span>
                </div>
                <div class="col-sm-4" style=" font-size: 14px; font-weight: 200;">
                         <i class="flaticon-people"></i>
                    <span> {{adults}} adults, {{childs}} childs</span>
                </div>
            </div>
        </div>

    </div>
</div>