<div class="body-wrapper loaded">
    <!-- MENU MOBILE-->
    <mobile-menu></mobile-menu>
    <top-bar></top-bar>
    <div class="wrapper" style="position: relative;">
        <div class="container">
            <div class="grid">
                <div  class="grid-item-lg-10-10">
                    <flight-info-bar></flight-info-bar>
                </div>
                <div id="main" class="grid-item-lg-7-10">
                    <div class="main-content">
                        <div ng-view>

                        </div>
                    </div>
                </div>
                <div id="sidebar" class="grid-item-lg-3-10">
                    <side-bar></side-bar>
                </div>
            </div>
        </div>
    </div>
    <footer-page></footer-page>
</div>
</div>